<div class="container">
<div class="row">
    <div class="col-lg-5 mx-auto">
        <div class="card">
            <h3 class="card-title text-center">
                Estoque
            </h3>
            <div class="form-group">
                <label>Email</label>
                <input type="text" [(ngModel)]="email" placeholder="Informe um email">                
            </div>
            <div class="form-group">
                <label>Senha</label>
                <input type="password" [(ngModel)]="senha">                
            </div>
        </div>

        <div class="text-center">
            <button type="submit" (click)="teste()" class="btn btn-info btn-block">
                LOGAR
            </button>

        </div>

    </div>
</div>

</div>